.body{
    background-color: black;
}
.profileView{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7035189075630253) 51%, rgba(0,0,0,0.008841036414565795) 100%);
    background-color: rgb(43, 42, 42);
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.userOrder{
    display: flex;
    justify-content: flex-start;;
    align-items: flex-start;
    flex-direction: column;

    width: 80%;
    height: 12%;
    font-size: 1.5em;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    
    
}
.cardOrder{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 5px;
    border: 1px solid grey;
    align-items: center;
    flex-direction: column;
    height: 28em;
    width: 15em;
    margin-right: 0.5em;
    margin-bottom: 15em;
    
}

.titleCard{
    
    font-weight: bold;
    padding: 1em;
    width: 7em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: flex-end;

   
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.imageCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    margin-top: em;
     
}
.alqdata{
    margin-top: -1em;
}
.devdata{
    margin-top: -1em;
}
.precio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}