.backgroundHome {
    // background-image: url(https://imgur.com/JUwE3TX.jpg);
    background: url(https://imgur.com/JUwE3TX.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;

    .gradientHome {
        width: 100vw;
        height: 100vh;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.678) 0%,
            rgba(0, 0, 0, 0.623) 36%,
            rgba(0, 0, 0, 0.527) 63%
        );

        .main-header {
            .imgLogo {
                width: 15em;
                height: 6em;
            }

            .cajaTodo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 4em;
            }
        }

        .textosHome {
            display: flex;
            align-items: center;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif ;
            color: white;
            font-weight: bolder;
            flex-direction: column;
            width: 100%;

            .textHome {
                width: 50%;
                font-size: 4.4em;
                padding: 5% 0 0;
            }

            .textHome1 {
                font-size: 1.7em;
                padding: 0.5em;
            }

            .textHome2 {
                font-size: 1.2em;
            }
        }

        .susHome {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5em;
            width: 100%;

            .emailHome {
                width: 40em;
                height: 5em;
                border-radius: 5px;
            }
            .botonEmpezar {
                background-color: red;
                color: white;
                border: none ;
            
                text-align: center;
                
                display: inline-block;
                font-size: 2em;
                padding: 0.5em 1em;
                height: 2.2em;
                width: 7em;
            
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
            }
            
            .botonEmpezar:hover {
                background-color: rgb(255, 23, 23);
            }
            
        }
    }
}
