input[type=text] {
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7035189075630253) 51%,
      rgba(0, 0, 0, 0.008841036414565795) 100%
  );
  background-color: rgb(43, 42, 42);
  color:white;
  }
  
  
  .moviesByTitle{

    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7035189075630253) 51%,
        rgba(0, 0, 0, 0.008841036414565795) 100%
    );
    background-color: rgb(43, 42, 42);
  color:white;
  }