.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
}

.imgLogoHeader {
    width: 7.5em;
    height: 2.7em;
}
.menuIzq {
    display: flex;
    align-items: center;
    margin-top: 1em;

    a {
        all: unset;
        color: white;
        padding: 0.5em;
        cursor: pointer;
        &:hover {
            color: #cdcdcd;
        }
    }
}

.menuDer {
    display: flex;
    align-items: center;
    margin-top: 1em;

    a {
        all: unset;
        color: white;
        padding: 0.5em;
        cursor: pointer;
        &:hover {
            color: #cdcdcd;
        }
    }
}
