.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: black;
    
    .imgLogo {
        width: 15em;
        height: 6em;
    }


}