.homepage{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.966) 0%,
        rgba(0, 0, 0, 0.747) 36%,
        rgba(0, 0, 0, 0.664) 63%
    );
}